.item-details{
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.item-details .person-image{
    width: 30%;
    height: 30%;
    border-radius: 10px;
    margin: 1rem;
}

.item-details .list-group-item {
    padding: .25rem;
}

.item-details .list-group-item .term{
    margin-right: .5rem;
}